.menu-handle {
  position: absolute;
  top: 3.5rem;
  left: 1.5rem;
  height: 7rem;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 999;
  fill: $color-grey-light-3;
  display: none;

  @include respond(phone) {
    display: flex;
  }

}

.menu-closer {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  height: 7rem;
  font-size: 2.5rem;
  font-weight: lighter;
  font-family: $font-primary;
  text-transform: uppercase;
  transform: scaleY(.8);
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 999;
  fill: $color-grey-light-3;
  display: none;

  @include respond(phone) {
    display: flex;
  }
}