.menu-handle {
  position: absolute;
  top: 2.5rem;
  right: 0;
  height: 1.75rem;
  width: 5rem;
  flex-flow: column;
  align-items: flex-end;
  justify-content: space-between;
  z-index: 999;
  display: none;

  @include respond(phone) {
    display: flex;
  }

  &:hover .handle {
    background-color: $color-grey-dark;
  }
  
  .handle {
    background-color: $color-grey-light-1;

    &-top {
      width: 5rem;
      height: 3px;
    }

    &-bottom {
      width: 3rem;
      height: 3px;
    }
  }
}