.land {
  
  &__grid {
    @include elegantScroll(100%, 4px);
    display: grid;
    grid-template-columns: 74vw 40vw 78vw;
    margin-left: 1rem;
    grid-template-rows: 1fr;
    background-color: transparent;
    gap: 2rem;
    height: 80%;
    align-self: center;
    justify-self: flex-start !important;
    transition: all .2s;
    flex-grow: 4;
    overflow: hidden;
    overflow-x: scroll;
    scrollbar-color: $color-grey-light-3 $color-grey-light-2;
    scrollbar-width: thin;

    @include respond(phone) {
      @include elegantScroll(0%, 0px);
      grid-template-columns: 95vw;
      grid-template-rows: repeat(3, 1fr);
      height: 88vh;
      margin-bottom: 12vh;
      margin-top: 2vh;
      overflow-y: scroll;
    }
  }

  

  &__sec-one {
    display: grid;
    gap: 1.5rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 26vh);
    object-fit: cover;

    @include respond(phone) {
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: -1rem;
    }

    & > * {
      overflow-y: hidden;
    }
    
    &--row1 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      grid-gap: 1rem;
      grid-template-columns: 3fr 3fr 4fr;
      grid-template-rows: 1fr;
      overflow-y: hidden;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
      }
    }

    &--row2 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
      }
    }

    &--row3 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      gap: 1rem;
      grid-template-columns: 3fr 3fr 4fr;
      grid-template-rows: 1fr;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
      }
    }
  }

  &__sec-two {
    display: grid;
    gap: 1.5rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    // background-color: $color-test-2;
    width: 100%;
    grid-template-rows: repeat(3, 26vh);
    grid-template-columns: repeat(2, 1fr);

    @include respond(phone) {
      grid-template-rows: repeat(6, 1fr);
      grid-template-columns: 95vw;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      margin-bottom: -1rem;
    }

    & > * {
      overflow-y: hidden;
      object-fit: contain;
    }

    .sec2__photo-1 {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }
    .sec2__photo-2 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;

      @include respond(phone) {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
      }
    }
    .sec2__photo-3 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;

      @include respond(phone) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
      }
    }
    .sec2__photo-4 {
      grid-row:  2 / 4;
      grid-column: 2 / 3;

      @include respond(phone) {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
      }
    }
  }

  &__sec-three {
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    gap: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 26vh);

    @include respond(phone) {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      grid-template-rows: repeat(3, 1fr);
    }

    & > * {
      overflow-y: hidden;
    }

    &--row1 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      gap: 1rem;
      grid-template-columns: 4fr 3fr 3fr;
      grid-template-rows: 1fr;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 95vw;
        margin-bottom: -5vh;
      }
    }

    &--row2 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 95vw;
      }
    }

    &--row3 {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      gap: 1rem;
      grid-template-columns: 3fr 3fr 4fr;
      grid-template-rows: 1fr;

      @include respond(phone) {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 95vw;
      }
    }
  }

  &__row {
    display: grid;
    // justify-self: flex-start;
    gap: 1rem;
    width: 1123px;
    height: 100%;
    transition: all .2s;

    &--1 {
      grid-template-columns: 3fr 3fr 4fr;
      grid-template-rows: 100%;
    }

    &--2 {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100%;
    }

    &--3 {
      grid-template-columns: 2.5fr 5fr 2.5fr;
      grid-template-rows: 100%;
    }

    &:active {
      grid-row: 1 / span all;
      grid-column: 1 / span all;
    }
  }
}

.lazyload-wrapper {
  height: 100%;
}





//////////// Simple Version ////////////

// .land {
  
//   &__grid {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: 1fr 1fr 1fr;
//     background-color: transparent;
//     gap: 2rem;
//     height: 80%;
//     width: 100%;
//     overflow-y: hidden;
//     align-self: center;
//     justify-self: flex-start !important;
//     transition: all .2s;

//     @include respond(phone) {
//       height: 100vh;
//       grid-template-rows: repeat(9, 1fr);
//       grid-template-columns: 1fr;
//       overflow-y: scroll;
//       gap: 1rem;
//     }
//   }

//   &__row {
//     display: grid;
//     gap: 1rem;
//     width: 100%;
//     height: 100%;
//     transition: all .2s;

//     overflow-y: hidden;

//     &--1 {
      
//       grid-template-columns: 3fr 3fr 4fr;
//       grid-template-rows: 100%;

//       @include respond(phone) {
//         grid-template-rows: repeat(3, 100vh);
//         grid-template-columns: 1fr;
//       }

//       @include respond(smallPhone) {
//         grid-template-rows: repeat(3, 45vh);
//         grid-template-columns: 1fr;
//       }
//     }

//     &--2 {
      
//       grid-template-columns: 1fr 1fr 1fr;
//       grid-template-rows: 100%;

//        @include respond(phone) {
//         grid-template-rows: repeat(3, 100vh);
//         grid-template-columns: 1fr;
//       }

//        @include respond(smallPhone) {
//         grid-template-rows: repeat(3, 45vh);
//         grid-template-columns: 1fr;
//       }
//     }

//     &--3 {
      
//       grid-template-columns: 2.5fr 5fr 2.5fr;
//       grid-template-rows: 100%;

//       @include respond(phone) {
//         grid-template-rows: repeat(3, 100vh);
//         grid-template-columns: 1fr;
//       }

//       @include respond(smallPhone) {
//         grid-template-rows: repeat(3, 45vh);
//         grid-template-columns: 1fr;
//       }
//     }
//   }
// }


