.modal-overlay {
  z-index: 99999999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $color-black-tr;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;

  @include respond(phone) {
    align-items: flex-start;
  }

  .modal {
    position: relative;
    height: calc(100% - 5vh);
    width: calc(100% - 5vh);
    background-color: transparent;

    @include respond(phone) {
      // transform: translateY(-2vh);
      // height: 100%;
    }
  }

  .photo {
    position: relative;
    height: 100%;
    width: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      object-position:calc(100%-2vh);
    }
  }

  .close-btn {
    z-index: 9;
    cursor: pointer;
    position: absolute;
    top: 6vh;
    right: 6vh;
    color: $color-grey-light-2;

    &:hover {
      path {
        fill: $color-white-2;
      }
    }

    path {
      fill: $color-grey;
      transition: all .2s;
    }
  }
}