.photo-wrapper {
  @include normalShadow;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  @include respond(phone) {
    box-shadow: none;
  }

  &:hover .photo--small {
    transform: scale(1.05);
    transition: all .5s;
  }
}

.photo--small {
  @include normalShadow;
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all .2s;

  @include respond(phone) {
    box-shadow: none;
  }
}