.photo--large {
    object-fit: cover;
    width: 78vw !important;
    height: 80vh;
    z-index: 99;

    &float {
      object-position: center;
      object-fit: contain;
      background-color: $color-grey-dark-2;
    }
    
    @include respond(phone) {
      width: 100% !important;

    }

    &--50 {
      object-position: 0 50%;
    }

    &--33 {
      object-position: 0 33%;
    }
}