.portrait {
  
  &__grid {
    @include elegantScroll(4px, 10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    width: 90%;
    height: 80%;
    align-self: center;
    justify-self: center !important;
    background-color: $color-white-2;
    overflow-y: scroll;

    @include respond(phone-land) {
      grid-template-rows: repeat(9, 275vh) !important;
      margin-right: 12vw;
      margin-left: 12vw;
      background-color: #000;
    }

    @include respond(phone) {
      @include elegantScroll(0px, 0px);
      grid-template-rows: repeat(9, 100vh);
      grid-template-columns: 1fr;
      background-color: #000;
      width: 100%;
      height: 100vh;
      margin-bottom: 5vh;
      margin-top: 5vh;
      transform: translateX(0px);
    }

    .photo--small {

      @include respond(phone-land) {
        object-fit: contain;
      }
    }
  }

  &__col {
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
    // overflow: scroll;

    &--1 {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &--2 {
      grid-template-columns: 100%;
      grid-template-rows: 7fr 3fr;
    }

    &--3 {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
    }
  }
}