.portrait {
  
  &__grid {
    @include elegantScroll(4px, 10px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem;
    width: 90%;
    height: 80%;
    align-self: center;
    justify-self: center !important;
    background-color: $color-white-2;
    overflow-y: scroll;

    @include respond(phone) {
      grid-template-rows: repeat(9, 75vh);
      grid-template-columns: 1fr;
      overflow-y: scroll;
      width: 100%;
      height: 100vh;
      margin-bottom: 5vh;
      transform: translateX(0px);
    }
  }

  &__col {
    display: grid;
    gap: 1rem;
    width: 100%;
    height: 100%;
    // overflow: scroll;

    &--1 {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
    }

    &--2 {
      grid-template-columns: 100%;
      grid-template-rows: 7fr 3fr;
    }

    &--3 {
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
    }
  }
}